[user]
	email = uec.donburi6712@gmail.com
	name = YusakuKomuro
[core]
	editor = nvim
	autocrlf = input
	pager = less
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
